body {
    background-color: black;
}

.hrbar {
    padding: 10px;
    background-color: black;
    color: lightgrey;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 200px auto auto;
    grid-gap: 1px;
}

.container > div {
    padding: 0px;
    padding-top: 5px;
    text-align: center;
    background-color: lightblue;
    height: 500px;
}

textarea {
    resize: none;
    width: 95%;
    height: 400px;
    border-style: none;
}